
        <div class="main-wrapper">
            <div class="main-left">
                <div class="home-tab">
                    <ul>
                    <a href=""><li class="now-selected">ランキング</li></a>
                    <a href=""><li>タイムライン</li></a>
                    <a href=""><li>タグの新着</li></a>
                    </ul>
                </div>
            </div>
            <div class="main">
                <h2 class="title">ランキング</h2>
                <div class="ranking">
                    <ul class="ranking-tab">
                        <a href=""><li class="now-selected">総合</li></a>
                        <a href=""><li>ルーキー</li></a>
                        <a href=""><li>オリジナル</li></a>
                        <a href=""><li>売れ筋</li></a>
                    </ul>
                    <hr class="menu-tab-border">
                    <div class="contents-wrapper">
                    </div>
                </div>
            </div>
            <div class="main-right">
            </div>
        </div>


